@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");
@import "~bootstrap/scss/bootstrap";

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.main-color {
  background-color: #edf2f6;
}

.title-color {
  color: #216fed !important;
}

.cp {
  cursor: pointer;
}

.line {
  width: 90%;
}

.img-auto {
  width: 100%;
  height: auto;
}

.gray-color {
  color: #737b8b;
}

.layout-body {
  width: 100%;
  height: calc(100vh - 70px);
  padding-left: 324px;
  background-color: #edf2f6;
  z-index: 1;

  .layout-container {
    padding: 30px;
  }
}

.login-p-l {
  border-top-right-radius: 3%;
  border-bottom-right-radius: 3%;
}

.top-pro {
  width: 60px;
  height: 60px;
}

.top-bar {
  width: 100%;
  height: 70px;
  z-index: 1;
  background-color: #edf2f6;
  padding: 0 30px;

  span {
    font-size: 15px;
  }
}

.menu {
  position: absolute;
  top: 65px;
  right: 50px;
}

.side-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 324px;
  height: 100%;
  background-color: #f2f6fc;
  padding: 70px 38px;
  z-index: 2;

  .title {
    color: #96a0af;
  }

  .nav {
    display: block;
    margin-top: 30px;
    .item {
      display: block;
      margin-top: 20px;
      .nav-item {
        font-size: 20px;
        font-weight: 600;
        color: #737b8b;
        line-height: 30px;

        &.active {
          color: #216fed;
        }

        .link-text {
          margin-left: 17px;
        }
      }
    }
  }
}

.welcome-title {
  color: #000000;
  font-weight: 400;
  font-size: 25px;
  line-height: 38px;
}

.count-box {
  padding: 30px;
}
.count {
  font-size: 30px;
  font-weight: 600;
  color: #07398b;
}

.account-warning {
  color: #216fed;
  font-size: 20px;
}

.filter-page {
  .title {
    font-size: 20px;
    color: #07398b;
  }
}

.sign-in-img {
  width: auto;
  height: 24vw;
}

.sing-in-right-title {
  font-size: 25px;
}

.kVrXuC {
  .beUiVL {
    font-size: 16px;
    font-weight: 500;
  }
}
